body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f5f7fa;
  color: #333;
  display: flex;
  justify-content: center;
  padding: 2rem;
  transition: all 0.10s ease;
}

.container{
  max-width: 600px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.5s ease;
}
textarea{
  width: 80%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid #ccc;
  resize: vertical;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
button{
  background: #4e73df;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background: #375ac0;
}

.reset{
  background-color: #e53935;
  color: white;
  padding: 8px 16px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.3s ease;
}
.reset:hover{
  background-color: #c62828;
}